At AEI , Ambassador Bolton's area of research is U.S. foreign and national  Department of State; Senior Vice President , AEI , 1997-2001; Attorney, Lerner, Reed,;
As a long-time Senate Committee on Foreign Relation senior professional staff  As the vice president for foreign and defense policy studies at AEI , Pletka;
Jul 11, 2012  In August 2011, AEI President Arthur C. Brooks spoke at a ;Leadership .. the wife of U.S. Vice President Dick Cheney, is an AEI senior fellow.
He is currently vice president for research and senior fellow at the Technology  a senior fellow at the AEI - Brookings Joint Center for Regulatory Studies and a;
2 days ago  UKRAINE Interim Ukrainian President Oleksandr V. Turchynov denounced  Susan Collin Marks, senior vice president at Search for Common Ground.  The American Enterprise Institute for Public Policy Research ( AEI ) will;
6 days ago  Lynne Cheney, the spouse of former vice president Dick Cheney and a  American Enterprise Institute : Senior Fellow; National Endowment for;
Lawrence J. Korb is a Senior Fellow at American Progress.  From July 1998 to October 2002 he was council vice president , director of studies, and holder of the  Company; and director of defense studies at the American Enterprise Institute .
May 21, 2009  I first came to AEI after serving at the Pentagon, and departed only after a  Being the first vice president who had also served as secretary of defense, .. Every senior official who has been briefed on these classified matters;
8 hours ago  He serves as a trustee at the American Enterprise Institute , where his wife is a senior fellow, so naturally AEI invited them both over to celebrate;
Iain Murray is CEI;s Vice President of Strategy and head of the Center for Economic  Institute and board members of the Cherish Freedom Trust and American ;
Arthur Brooks, President, American Enterprise Institute ( AEI )*. Friday, June 14. Ramesh Ponnuru, Senior Editor, National Review*; Tim Carney, Visiting Fellow for the  Anne Bradley, Vice President , Institute for Faith, Work, and Economics*;
Oct 1, 2012  The public policy blog of the American Enterprise Institute .  Speaking Friday to a group of older Floridians, Vice President Biden tried to lure;
He is a fellow of the American College of Surgeons and of the American Academy  Bolton was Senior Vice President of the American Enterprise Institute ( AEI ).
May 21, 2009  Former Vice President Dick Cheney delivers remarks at the American Enterprise  Institute .
Commissioner and Vice Chairman at U.S. China Economic and Security Commission  I am the Director of Asian Studies at the American Enterprise  Institute a public  Senior Director China and Taiwan  Vice President for Political and.
James K. Glassman is a Visiting Fellow at the American Enterprise Institute and  of the New Republic, executive vice president of U.S. News ; World Report, and  Corporation and a senior advisor to AT;T Corporation and SAP America, Inc.
Baroody;s response, according to Edwards, was that AEI ;didn;t want to try to affect the . Melody Barnes, former executive vice president at CAP, was the senior ;
Sep 11, 2009  The American Enterprise Institute ( AEI ) is seeking to fill a  the Senior Vice  President for Public Affairs for the American Insurance Association;
Vice President and Senior Economist  and at the IZA Institute of Labor in Bonn, Germany, as well as visiting scholar at the American Enterprise Institute .
2 days ago   American Enterprise Institute , a nonpartisan public policy  Patricia Neuman is a senior vice president of the Henry J. Kaiser Family Foundation;