Shawn Berry, Lawrence Russell Brewer, and John King dragged Byrd for  Ross Byrd, the only son of James Byrd, has been involved with Murder Victims ' Families for  Berry, Brewer and King were tr
John William King is a white supremacist who was convicted of murdering James Byrd,  He was found guilty of kidnapping and murder on February 23 and was  King, Berry, and Brewer dumped their victim's mutilated remains in the town's;
Sep 21, 2011  UPDATE: 1 of 3 men convicted in hate crime murder of James Byrd Jr. has  John William King also faces the death penalty, but he continues to  of the Jasper victim and Matthew Shepard, the young gay man murdered in;
23 â&euro;&ldquo; John William King , a self-proclaimed white supremacist covered with  was convicted of murder today in the death of a black man who was dragged on a  ;All I know is, it's one down and two to go,; said Ross Byrd, a son of the vic 
Sep 24, 2011   John William King , 36, was also convicted of capital murder and sent to  Victim : James Byrd Jr died after being chained to the bumper of a;
A white supremacist on Monday became the second man convicted in the gruesome  racially motivated murder that took place in the Lone Star state in 1998.  him by the children of his victim , James Byrd Jr. A jury last year sent King, 25, to De 
Sep 21, 2011   and prejudice leads to terrible consequence for the victim , the victim's  John  William King , now 36, also was convicted of capital murder and;
JOHN WILLIAM KING , Appellant  Appellant was convicted of capital murder on February 25, 1999.  to show that the victim was kidnapped or that appellant was a party to the capital murder .  They arrested Berry and confiscated the truck.
Sep 21, 2011  Brewer and his co-defendants then dragged the victim to his death , . John  William King was convicted of capital murder and sentenced to;
Sep 22, 2011  Brewer said accomplice John William King initiated the killing by fighting with  When Brewer was sentenced to death in 1999, Jasper County;
In Texas, convicted killer John William King today is being taken to death row to  anything to say to the family of James Byrd Jr., the victim of this horrific crime .
Sep 21, 2011   in his capital murder trial for the 1998 dragging death of James Byrd Jr.  Besides Brewer, John William King , now 36, also was convicted of capital murder  Fingerprints taken from the headless torso identified the victim as;
Sep 21, 2011  ;I know he was guilty so I have no qualms about the death penalty.  Besides Brewer, John William King , now 36, also was convicted of capital murder  Fingerprints taken from the headless torso identified the victim as Byrd.
The victim was observed in the back of a pickup truck occupied by King  John  William King , 36, also was sentenced to death for the crime but;
May 31, 2011  Brewer and John William King were convicted and sentenced to die for the  Renny Cushing, executive director of Murder Victims ; Families for;
Convicted in the abduction and murder of Alexandra Rendon in Houston in January 1991. . The 1999 slaying occurred in the victim;s apartment in McAllen, Texas.  Fall partner John William King is on death row, awaiting an appeal.
JASPER, Texas - John William King was a hate-filled racist who dragged James Byrd Jr. to death  as arguments opened in his capital murder trial Tuesday. A bloody trail of  on the narrow roadway came from a hit-and-run victim . He said he
John Farrar and William Johnston, who were charged with the murder of  of the 11th instant, a Negro girl named rachael was murdered by SUSAU W. KING ,;
Victim Name, Died, Age, Race, Gender, Suspects . Rockwell John Flint, Sept.  Lamont William Hall aka Mon Mon, Dec. . Delando King , Aug. .. friends, family, neighbors and others, we cover every homicide from crime to conviction .
A documentary about how the murder of James Byrd, Jr.  defense attorney for convicted murderer John William King , Ronald King, father of John William  I will pay tribute to hate- crime victims and their survivors during a special memorial;