Also known as the Millennium Wheel , its official name was originally the British  The London Eye was designed by architects Frank Anatole, Nic Bailey, Steve;
History . Tweet. Since opening in March 2000 the EDF Energy London Eye has become  Back in 2000, the London Eye was known as the Millennium Wheel .
The 135 meter (443ft) tall structure was built as part of London's millennium  wheel as part of a competition to design a landmark for the new millennium .
The London Eye is London's newest major tourist attraction. It is a huge wheel  designed to celibrate the Millenium year 2000. It stands at Millenium Pier, on the;
The London's eye was built as part of London's millennium celebrations. It was  The London Eye is considered the largest Ferris wheel in all of Europe and is a;
 on New Years Eve in 1999; it was built to mark the start of a new millennium .  The London Eye is considered the largest Ferris wheel in all of Europe and is a;
Aug 2, 2013  The idea of building the London Eye was pioneered by an architect  The London Eye (previously known as the Millennium Wheel ) was one of;
The London Eye was built for the milleneum celebration, but the attraction has  Originally called The Millennium Wheel , architects created the London Eye to;
Wednesday, April 21, 1999 Published at 11:41 GMT 12:41 UK UK Millennium  wheel gets rolling. An artist's impression of London's fourth-highest building
A Colin Day Travelling Days Site on the History of the London Eye Millennium  Wheel with Photographs of the wheel and views over London taken from it.
Feb 16, 2008  The Millennium Wheel was inaugurated in 31st December, 1999, by Prime Minister, Tony Blair. It was built and named for the Millennium!
Apr 1, 2009  The world;s biggest observation wheel , named the British Aiways London Eye because of the  Building the London Eye (before built ).
Jun 2, 2009  An information documentary 1996 introducing the Millennium Wheel , which opened as the London Eye in 2000, and its brilliant creators David;
Sep 10, 2013  A global race is in motion to nab the title of world;s tallest wheel .  in Staten Island –both of which would have been the highest wheels when built .  design when it opened to help mark London;s millennium celebrations.
; Built in 1999 to host the Rugby World Cup.  December 31, 1999 - Millennium  Wheel or London Eye, western end of Jubilee Gardens, River Thames, Borough;
Tel: 01452 427233 Fax: 01452 372347 Email: satro@gloscc.gov.uk. The INPUT Millennium Wheel . The BA London Eye is a massive “viewing wheel” , built to;
Ten years ago, London built a temporary, celebratory monument-cum-tourist draw: the Millennium Wheel . Now known as the London Eye, this majestic wheel;
Jan 16, 2014   Built by Chance Rides in Wichita, the wheel is expected to be  Eye, originally called the Millennium Wheel , which opened in London in 2000.
Oct 23, 2013  The lever, third millennium b.c.. The Egyptians had not yet discovered the wheel when they built their pyramids; they are thought to have relied;
Apr 4, 2014  The original Ferris Wheel was built for the Chicago World Expo in 1893 in  opened in 2000 (hence its original name, the Millennium Wheel ).
Jun 13, 2002  Wheeling in the New Millennium : The history of the wheelchair and the driving forces in  Carried on a sedan or push on a chair with wheels ;
Not all changes are good: with the wheel , imperialists could expand their range of  Wheeled vehicles spread across Europe by the third millennium , and clay;
Feb 1, 2013  The London eye took 7 years to construct and was designed by a  The London Eye was often called the Millennium Wheel when it was first;
The Grande Roue (big wheel ) of 60 m high as you can see now was built for the millennium celebrations and was supposed to stay at the Place de la Concorde;
Gazetteer for Scotland: Definitive description of Falkirk Wheel (Falkirk)  the Falkirk Wheel is the world;s only rotating boat-lift and was built to transfer boats  feet) in diameter and is the centre-piece of the £78 million Millennium Link project,;
Following the clearance of the Greenwich Peninsula in South East London The Millennium Dome was originally built to house the Millennium Experience,;
The Falkirk Wheel - the only rotating boatlift in the world - is the linchpin of the £78m Millennium Canal Link project designed to link the Union and Forth and;
The ticket offices are located inside County Hall, the building adjacent to the Eye. . The London Eye, or Millennium Wheel , was officially called the British;
Mar 9, 2010  Despite its wobbly beginnings, the capital;s giant ferris wheel has become  of the breed, designed by George Washington Ferris, began revolving at the  Tate Modern, the Millennium Bridge and the Millennium Dome itself.
Built by Lancashire County Council with the support of Preston City Council and the significant input of volunteers from the Guild Wheel Users Group, the Guild;
Healthy House Building for the New Millennium [John Bower] on  We were SO happy to read this book and realize we did not have to ;re-invent the wheel .;
The original Westminster Bridge, built in the reign of George II, started to sink and  Eye was constructed in 1999 it was the largest observation wheel in the world.  Opened in 2000, the London Millennium footbridge is an ultramodern steel;
;La Grande Roue de Paris; is a giant transportable Ferris Wheel .  Originally placed in Paris, France for the 2000 Millennium c . (President of France at that time) who visited the wheel using the Vip Gondola that was specially designed fo.
Oct 23, 2013  The lever, third millennium b.c.. The Egyptians had not yet discovered the wheel when they built their pyramids; they are thought to have relied;
The Millennium Wheel or London Eye, was built to celebrate the millennium in London. At the time of building , it was the largest observation wheel in the world,;
Sep 18, 2013  I;ve just built this again, and upon completion, discovered that I some how  they have a steering wheel piece by the large black dish section.
It is now being built inside a mountain in western Texas.  The century hand advances once every 100 years, and the cuckoo comes out on the millennium . . correct time, but will only display the correct time if you wind up its display wheel .
Inside Chicago: Millennium Park - Before you visit Chicago, visit TripAdvisor for the  in Chicago built on air rights over commuter train tracks along the lakefront.  And no, there is no Ferris Wheel in Millennium Park; that is at Navy Pier (a;
London Eye,Riverside Building , County Hall, Westminster Bridge Road,London,  London Eye (commonly the London Eye, or Millennium Wheel , formerly the  The wheel was designed by architects David Marks, Julia Barfield, Malcolm Cook;
Located on the South Bank of the Thamesnext to County Hall, the London Eye was built as part of the Millennium celebration (the wheel is sometimes referred to;