An Officer and a Gentleman Awards and Nominations.  Will Jennings (lyrics). For the song ;Up Where We  New Star of the Year in a Motion Picture - Female Lisa Blount  Won Award of the Japanese Academy , Best Foreign Language Film ;
Nov 24, 2009   Louis Gossett, Jr. with the Best Supporting Actor Oscar® for his performance in ; An Officer and a Gentleman ;   Louis Gossett Jr. Wins Supporting Actor: 1983 Oscars  Rating is available when the video has been rented.
Best Supporting Actor Louis Gossett, Jr. (; An Officer and a Gentleman ;  The Year . Your browser does not support this video player.  ;Gandhi; also won  Academy Awards for Best Actor (Ben Kingsley), Art Direction-Set  Desi
Oct 30, 2010  In the years that followed, she made a string of TV appearances on  And in 2002, she won the Academy Award for Best Live Action Short Film for The  'She did everything she could and helped Ray behind the scenes,' she;
His acting career soon flourished and his work in the stage and film versions of the  I remember his Emmy Award winning performance as Fiddler in the mini  his acceptance of the Oscar for his performance in An Officer and a Gentleman as a ..
An Officer and a Gentleman (1982) awards, nominations and wins including Academy Awards , Golden Globes, Sundance Film Festival Awards, MTV Movie Awards and more.  Best Song - Won Buffy Sainte-Marie, Will Jennings, Jack Nitzsche. 1982, Academy o
 and Jack Nitzsche for ;Up Where We Belong; from ; An Officer and a  Gentleman .;  Who will win the Academy Award for best original song tonight?  When a film wins the Best Picture Academy Award who walks up to accept the 
What third year Academy Award winning film was banned in many European  and Jack Nitzsche for ;Up Where We Belong; from ; An Officer and a Gentleman .
Feb 25, 2013  Criteria: - Here are the Academy Award Winning Songs and Movies they  Year , Song, Film . 2013, Let it Go  1997, My Heart Will Go On, Titanic. 1996, You Must  1982, Up Where We Belong, An Officer and A Gentleman .
Feb 20, 2013  The Root: How did your life change after you won the Oscar for best supporting  I never got a million dollars for any movie I did in 60 years .  Let;s not worry about the small [number] of blacks getting nominated at the Oscars . . TR: You started drinking shortly after An Officer and a Gentleman came out?
28 /PRNewswire/ -- This year the Academy Awards (R) ceremony comes almost a month early, but if you;re concerned it will catch you unprepared, FEAR NOT!  The film won three Oscars (R) for Best Director (Eastwood), Best Actor (Gene Hackman),  ; An Officer and a Gentleman ; (2:35 a.m.) -- Louis Gossett, Jr. won Best;
This year , the first Oscar for Visual Effects (a new category) was given to The Rains Came, defeating Gone With the Wind;s nomination (one of five that did not win ) that  The film had thirteen nominations and won eight competitive awards (and . Gossett Jr. for Best Supporting Actor for An Officer and a Gentleman (1982),;
Jun 2, 2010  The foundation will eventually be organized around “Shamba  After winning the Best Supporting Oscar in 1983 for An Officer and a  “ When my contemporaries in New York got Oscars , they got to do what they wanted,” he says. . Foley in the hit movie “ An Officer and A Gentleman ,” reflects on his journey;
Mar 3, 2014   win a best supporting actor award for 1982;s ; An Officer and a Gentleman .; And in the 2002 interview he said winning the highest award in film hadn;t really  And more than 50 years passed before another black woman won in  Ridley will put the extra juice that comes from their Oscar wins to good use,;
Meet the cast of The Grace Card movie .  He is best known for his Academy  Award - winning performance in the film classic, An Officer and a Gentleman  Louis appeared in his first Broadway role (;Take A Giant Step;) in 1953 when he was  His recently released autobiography is aptly entitled, An Actor and a Gentleman.
Based on the hugely successful Academy Award - winning film , this new musical  It will be produced by Sharleen Cooper Cohen and John Frost, and directed by  “I was excited when we managed to make the factory stuff sound like it was all;
Feb 26, 2014   Winning an Academy Award is generally considered to be one of the  ; Academy Award winner Nicolas Cage; is no longer a selling point when you make  Actor win for ; An Officer and a Gentleman ; really still get him work?
This review is from: An Officer and a Gentleman (Special Collector;s Edition) (DVD)  Lynette pulls a trick to win Sid, that backfires in ways totally unimaginable.  was the winner recipient of 2 Academy Awards , including Best Supporting  With a clear-cut picture, and sharp sound, this movie will never grow old in your home;
Apr 13, 2010  In the 32 years since he won an Academy Award for his live-action short  has directed such films as An Officer and a Gentleman (1982), Dolores  to serve as a commercial airline captain, will receive Alumni Merit Awards,.
Mar 3, 2014  Writer John Ridley;s screenwriting Oscar for 12 Years a Slave made him the  to win a best supporting actor award for 1982;s An Officer and a Gentleman . And in the 2002 interview he said winning the highest award in film hadn;t  Ridley will put the extra juice that comes from their Oscar wins to good use,;
Feb 24, 2012  Here;s a look at 12 Black actors who previously won Oscars .  This Sunday, February 26, 2012, the 84th annual Academy Awards will be held . second male in history to receive two acting Oscar nominations in the same year  Foley in the 1982 film , &lt;em&gt; An Officer and a Gentleman &lt;/em&gt;, that won him;
This is the theme song to the movie An Officer And A Gentleman . It won the Oscar for Best Original Song in 1983.  Will Jennings wrote the lyrics.  the score for the movie and the music for this song; they got married the following year .  Joe Cocker was given a Lifetime Achievement award in Berlin, Germany - and the;
Academy Award - winning singer -songwriter Buffy Sainte-Marie will be  1982 movie An Officer and a Gentleman , won her both an Academy Award Oscar and  are as relevant to audiences today as they were at her debut over 45 years ago.
May 31, 2012  This love story also boasts the Academy Award - winning song ;Up Where We Belong,; with lyrics by Will Jennings and music by Jack Nitzsche and Buffy Sainte-Marie.  Receive e-mail alerts when new reviews are available.
Grammy and Academy Award - winning songwriter Will Jennings has written for a wide  and Jennings and Winwood were nominated for a Grammy for Song Of The Year  St.-Marie for An Officer And A Gentleman , which won the Academy  Award in  Jennings contributed a song for the Oscar- winning film “A Beautiful Mind.
Mar 2, 2014  As the 2014 Oscars show approaches with ;12 Years a Slave;  But just a few months earlier, she and the film;s other African  Poitier won the lead actor Oscar for 1963;s charming ;Lilies of the. . played by Lou Gossett Jr. in An Officer and a  Gentleman in 1982. . That;s all we did in movies back then.;.
Feb 25, 2014  The Oscar that year went to Grace Kelly for her performance in The Country Girl.  as a tough drill sergeant in the movie An Officer and a Gentleman .  nominations for the same film —the movie failed to win any Oscars  Washington, Will Smith and Halle Berry were also nominated for best actress/actor.
Such a movie is An Officer And A Gentleman , a timeless tale of romance, friendshi  Louis Gossett, Jr. won an Academy Award * for his brilliant portrayal of the tough  And while Gossett tries to warn the young officer about the local girls who will do . When a father (Bruce Dern) and his adult son ( Will Forte) embark on a;
{# An Officer and a Gentleman } was nominated for 7 Oscars , with wins to Gossett and  Academy Awards , Best Song, 1982, Buffy Sainte-Marie, Will Jennings, Jack  Nominee: Golden Globe Awards, New Star of the Year - Female, 1982, Lisa;
Feb 2, 2013  Debra Winger has received three Academy Award nominations.  Not to mention numerous nominations for various critics; awards and a couple of wins .  When she did recover, Winger did exactly that. .. To fully show what kind of a movie An  Officer and a Gentleman is, let me just reveal the very last;
Oct 28, 2010  Lisa Blount, an Oscar - winning producer and an actress best known for her co-starring  See other celebrities we;ve lost this year Blount was found dead .  Though a statement by her publicist did not provide a cause of death, Pulaski  friend, Lynette Pomeroy, in the 1982 film An Officer and a Gentleman .
The 1982 Academy Awards were presented April 11, 1983 at the Dorothy Chandler Pavilion, Los Angeles.  Louis Gossett, Jr., An Officer and a Gentleman .
Dec 26, 2012   Gere has never won an Oscar , but he;s received widespread praise this year  and ; An Officer and a Gentleman ;; The actor hasn;t won an Oscar but  I like the movie , and I think Nick Jarecki, who wrote and directed it, did a;
An Officer and a Gentleman -The 1982 Drama movie featuring Richard Gere  Louis Gossett, Jr. who played the drill seargent won the Academy award for  However, the romance with Paula doesn;t go particularly smoothly (it never does …
Jun 15, 2012  One year later, he starred opposite Kate Winslet in a little film called ;Titanic. . ;Days of Heaven,; ;American Gigolo,; ; An Officer and a Gentleman ,;  was turning down a role in Academy Award - winning “There Will Be Blood.
Feb 25, 2013   of those actors will have gone on to receive a coveted Academy Award statuette.  Hathaway stopped by Sesame Street a few years ago to sing “I Want a  Song for “Up Where We Belong” from An Officer and a Gentleman .
Feb 21, 2013  As the 85th Academy Awards approaches, it just seems appropriate to get  of the best Original Academy Award Winning Songs over the past 79 years .  Every child who has ever watched the movie ;Pinocchio,; about a wooden . Their version of the theme song for ; An Officer and a Gentleman ; made a;
Dec 31, 2013  For those who joined us later in the year , missing many of these posts from . It;s been said that many actors receive Oscars for their careers, not . who won Best Supporting Actor for Officer and a Gentleman w/ Richard Gere!
An Officer and a Gentleman was nominated for 7 Oscars , with wins to Gossett  Rarely does a film come along with so many finely-drawn characters to care about.  in taste are sour reminders of the subtlety Hollywood has lost in recent years .
 several hit films including Days of Heaven, An Officer and a Gentleman , Pretty Woman,  majoring in philosophy, but did not graduate, leaving after two years .  the drama Unfaithful and the Academy Award - winning film version of Chicago,;