Porter was born in Peru, Indiana, the only child of a wealthy family .  Kate, was the indulged daughter of James Omar ;J. O.; Cole ,;
Appearing to surpass his peers was easier due to deception on the part of Cole and his mother. When he was fourteen, his mother falsified his school records so;
Cole Porter was born June 9, 1891, at Peru, Indiana, the son of pharmacist  Porter. In his senior year he was president of the University Glee club and a football;
Synopsis; Early Life; Living in Europe; Musical Success; Accident and Aftermath; Later Years . Cite This Page. A gifted composer and lyricist, Cole Porter created;
SANTA MONICA, Calif., Oct. 15-- Cole Porter , the world-famed composer and lyricist  ;I don't know how my music gets that way,; he said when he was asked to make  He was born on a 750-acre farm in Peru, Ind., on June 9, 1892, the son
Find Cole Porter bio, songs, credits, awards, similar artists and video information on AllMusic - Cole Porter is synonymous with both the American …  Title, Year , Avg. Duration, Genre;
Cole Porter's legal birth certificate actually gives 1893 as the year of his birth rather than 1891, but that was a change engineered by his mother when she;
The only child of Samuel Fenwick, a druggist, and Kate Cole, Cole Porter , born in Peru  During his junior year of college, Cole Porter created his first show, See;
Oct 19, 2012   Cole Porter was born in Peru, Indiana, on June 9, 1891, the son of a  In his last years he produced one big Broadway success (“Can-Can,”;
Cole Porter was born in 1891 into a wealthy family in Peru, Ind.. Cole's mother  When he was 6 years old, Cole began to play the violin and piano. He became;
Cole Porter , in full Cole Albert Porter ( born June 9, 1891, Peru, Ind.,  of Gilbert and Sullivan at 10 and saw his first composition, a waltz, published a year later.
J.O. married Rachel Henton, and when their daughter, Kate Cole , was born in 1862,  J.O.;s grandson, was born , and they named him Cole Albert Porter .
Born in 1891 to Samuel and Kate ( Cole ) Porter , Cole Porter was born in Peru, Indiana, and spent the first ten years of his life at 17-19 South Huntington Street.
In 1918, Cole Porter met Linda Lee Thomas, a wealthy divorcée eight years his  was filmed in 1936, as was Born to Dance; Rosalie followed the next year .
May 1, 2014   When Gershwin, Cole Porter , and Rodgers were writing, they were  Cole Albert Porter was an American composer and songwriter born to a;
The couple separated briefly in the early 1930s when , it is believed, Porter;s sexual  Cole Porter;s Steinway piano is currently located at the Waldorf-Astoria;
In his life and in his music, Cole Porter was ;the top;—the pinnacle of wit, sophistication.  Born in 1891, Porter left his wealthy family in Indiana to thoroughly enjoy  He traces the early years of their marriage in the expatriate Europe of the;
Cole Porter born in Peru, Indiana, to Kate Cole and Samuel Fenwick Porter (married  During his sophomore year Porter is elected to the Delta Kappa Epsilon;
Porter , Cole (9 June 1891-15 Oct. 1964), songwriter, was born in Peru,  His Yale years --punctuated by visits to New York that earned him the title ;pet of;
May 30, 2012   Cole Porter was born on June 9, 1891 in this house in my hometown of Peru, Indiana. When I was growing up in Peru, I knew Cole Porter;s ;
May 30, 2012   Cole Porter was born on June 9, 1891 in this house in my hometown of Peru, Indiana. When I was growing up in Peru, I knew Cole Porter;s ;
Cole Albert Porter (June 9, 1891 – October 15, 1964) was an American composer  Porter was born in Peru, Indiana, the only child of a wealthy Baptist family .  She falsified his recorded birth year from 1891 to 1893 to make him appear more;
Cole Porter . In a small Indiana town, on June 9th 1891, the genius we know as Cole Albert Porter was born . He went on to write over 1500 songs for Broadway;
When asked once if his songs would last, Cole Porter answered: “I never gave it a  Porter was born in Peru, Indiana, on June 9, 1891, the son of Samuel Porter,;
Porter was born to wealth and he wasn;t one to hang out with other  Lyricist Sammy Cahn commented, “ When I met Cole Porter for the first time in my life, it was;
Biography of Cole Porter , The Broadway master who wrote ;Night and Day;
Nov 4, 2012   Cole Porter .  Cole Porter - A short biography . cavarres·15  100 Years of Cole  Porter at Yale by YaleCampus 2,932 views ; Thumbnail 7:47
American musical comedy composer Cole Porter was born in Peru, Indiana on  but he lasted there only two years before he transferred to the School of Arts;
Feb 7, 2013   Cole Porter died nearly half a century ago – in 1964 at age 73 – yet his  celebration of Porter;s work that she hopes to perform for years to come.  Born and raised in wealth in Peru, Ind., -- far from the ethnic melting pot of;
Jan 1, 2001  He was born Cole Albert Porter , the only child of Samuel Fenwick a  of the Freshman Glee Club then its president during his senior year .
Born the grandson of an Indiana millionaire in 1891, Cole Porter was  In his later years , Porter had several relationships with handsome younger men, but;
After listening to Cole Porter;s delightful songs, easily some of the most  great detail during the 1940s and 1950s, such as his 35- year marriage to socialite Linda  Porter;s medical history, which is scrupulously documented in a biography by;
Porter, however, describes those years as ;raising hell on the Continent.; When you . Cole Porter was born on June 9, 1891, in Peru, Indiana -- circus country.
Preview and download top songs and albums by Cole Porter on the iTunes Store. Songs by  Born to Dance, Broadway Melody of 1940, High Society, and Night and Day.  He finally lost his right leg in 1958, only four years after his wife died.
Find the location of Cole Porter;s star on the Hollywood Walk of Fame, read a biography ,  Over a span of 40 years the urbane Porter wrote some of Broadway;s  1936, Best Song, ;I;ve Got You Under My Skin; from Born to Dance, Nomination.
Feb 21, 2014  Indiana- born songwriter Cole Porter wrote more than 1,500 songs for  hit was Paris in 1928 and over the next 25 years , Porter would enjoy a;
“Man, when I was 15, I would read every single word on the record cover.  Cole  Porter wrote ;It;s De-Lovely; for Born To Dance, but it ended up in the 1936;
Feb 16, 2008  For years , Porter was Broadway;s ;King Cole .; His musical plays were very successful. Later, he went to Los Angeles, California and wrote;
Astrology: Cole Porter , born June 9, 1891 in Peru (IN), Horoscope, astrological  When one is researching, one needs to launch experiments with no other goal;
Jul 21, 2004  De-Lovely allows that Cole Porter was gay, but doesn;t tell the  We do not learn, for example, that Linda Porter was eight years Cole;s senior, a brittle but  ( Born to Dance) and a Broadway show (Red, Hot and Blue) in 1936.