Marriage [edit]. After college, she worked as a saleswoman at the Calvin Klein store in Boston before being transferred to the corporate;
Carolyn Bessette Kennedy stepped into the spotlight when she married John F. Kennedy Jr. in 1996. Learn more at Biography.com.
Oct 7, 1996  As the fiancée filled out the license, she was asked what her married name would be. ; Carolyn Bessette Kennedy ,; she answered. Wise and;
Jan 19, 2012  Almost 12 years after JFK Jr and his wife Carolynn Bessette's untimely deaths, his assistant has revealed how she talked his wife into taking the;
Bessette asked close friend (and then-unknown designer) Narciso Rodriguez to design the gown she wore to marry John F. Kennedy Jr in 1996. The resulting;
Aug 16, 2009   Carolyn Bessette - Kennedy died in a plane crash with her husband  JFK Jr. Wanted Madonna To Pose As Jackie Kennedy Onassis, She ;
Aug 1, 2003  The secret story of the gradual unraveling of their marriage as it slid  Now John and Carolyn were living apart—he at the Stanhope, she in;
Nov 3, 2013  John F. Kennedy Jr. and his wife Carolyn Bessette were killed in a 1999 plane crash. . “ She says she wants to start an 'I hate Ed Club.
Jul 1, 2003  Just before their July 1996 wedding , Carolyn flew into hysterics because she couldn't get her $40,000 zipperless dress over her head.
NEW YORK -- (AP) -- Carolyn Bessette Kennedy , a fashion publicist who catapulted to fame when she married John F. Kennedy Jr., was presumed dead along;
Jul 11, 2003  When Carolyn Bessette was two hours late to her own wedding ,  Carolyn  Bessette wanted to have control over John Kennedy , and she was;
Ms. Adams, who said she has known Mr. Heymann for 20 years, said she made no  but his wife , Carolyn Bessette Kennedy , insisted they drop off her sister.
Immediately upon her marriage on Sept. 21, 1996, the expectations closed in on Carolyn Bessette Kennedy . The traditionalists demanded she have a child.
Sep 29, 1996  Since her marriage last weekend to John F. Kennedy Jr., Carolyn  noted the many similarities between Ms. Bessette - Kennedy , as she has;
Jan 19, 2014  It;s hard to believe that John F. Kennedy Jr. and his wife Carolyn Bessette  As for Charlize, she to this day credits the George cover as being a;
Carolyn Bessette became part of one of America;s best-known families when she  married John F. Kennedy Jr. in 1996. Bessette grew up in Connecticut and;
Sep 30, 2005  Her best friends John F. Kennedy Jr., and his wife , Carolyn Bessette ,  And she recalls meeting Carolyn Bessette , when Kennedy brought her;
Mar 30, 2004   Good Morning America, if he had an affair with Carolyn Bessette after she was married to Kennedy , Bergin said, ;I did,; adding, ;It was wrong.
She has been served with a ;notice to cure an FEATURES  And with the death of his wife , Carolyn Bessette Kennedy , and her sister, NEWS;
Mar 27, 2004  In an interview with publisher JUDITH REGAN, he opens up and says the first time he met Bessette was before she and JFK Jr. were married ;
Jul 21, 1999  It is no secret in the US that in the three years since she married JFK Jr, Carolyn  Bessette;s relationship with the public has been prickly at best.
Carolyn Bessette Kennedy became famous when she married John F. Kennedy , Jr. in 1996. Before that she was an occasional model who eventually became a;
Carolyn Bessette - Kennedy was the wife of John F. Kennedy , Jr. She was born on January 7, 1966. She died in the plane crash that also killed her husband and;
Carolyn Bessette Kennedy was born on January 7, 1966 in White Plains, NY then moved to Greenwich, CT, when her parents divorced when she was eight;
Jul 18, 1999  Before Kennedy , She Made A Mark Carolyn Bessette;s Beauty And  of a rich and prestigious man when she married John F. Kennedy Jr. in a;
After Ruddy finally settled on Swank, Bullock;s agent called him and said she  A Mass for John F. Kennedy Jr. and his wife , Carolyn Bessette Kennedy , will be;
Carolyn Bessette News from United Press International.  New York firm that created the dress Carolyn Bessette wore when she married John F. Kennedy Jr.
Oct 29, 2013  In it, she describes her friendship with Carolyn, almost the opposite of how the  CAROLYN BESSETTE , WIFE OF JOHN JOHN KENNEDY .
See more about carolyn bessette kennedy , jfk jr and jfk .
Dec 3, 2012   Carolyn Bessette , his wife of less than three years, was the girl who made a  She was also, eight, leaving Carolyn with a life-long fear of;
Jan 23, 2013   Carolyn Bessette married John F. Kennedy Jr. in October of 1996.  in love with Carolyn and how his heart was broken when she married JFK .
CAROLYN JEANNE BESSETTE KENNEDY January 7, 1966 - July  She moved to Connecticut with her mother and sisters at age 8 when her parents divorced .
Aug 15, 2012  Dedicated to the late Carolyn Bessette - Kennedy , 1966-1999.  I quoted some lines from his wife Nadia;s last letter to him in which she asks,;
Jul 24, 1999  Socialite and wife of John F. Kennedy , Jr. She gained a certain  she was the youngest daughter of Dr. William J. and Ann Messina Bessette .
Jul 1, 2003  John F. Kennedy Jr.;s marriage to Carolyn Bessette Kennedy was  but whenever I raise the subject with Carolyn, she turns away and refuses;
and life in the spotlight—that drove Kennedy and Bessette apart! (lespite  she turns away and refuses to have sex  before the wedding that Carolyn made her.
Jul 16, 2009   Carolyn and her husband , John F. Kennedy , Jr. had died only 2 months  Bessette graduated from Boston University, where she was the cover;
Carolyn Bessette and John F. Kennedy Jr. were married in a secret  She clutched a lily of the valley bouquet, arranged by Rachel “Bunny” Melon, the same;
Other than that, she was a conventionally attractive woman who married a rich and conventionally handsome man before unfortunately dying young. I don;t think;
Jun 4, 2012   Married from 1994 to 1999 to Anthony Radziwill, the late son of Lee Radziwill (Jackie  best friends with John F. Kennedy Jr. and his wife , Carolyn Bessette  Kennedy .  So how on earth did she wind up on reality television?