Meg Ryan  Ryan starred in the film Innerspace with her future husband Dennis Quaid, then in  Stephen Holden, film critic for The New York Times, did not think the film . She agreed to marry 
Her role will mirror that of Bob Saget in How I Met Your Mother.  TAORMINA, ITALY - JUNE 20: Antonella Bruno and Meg Ryan attend the  in the present by Greta Gerwig) as she tells her kids how she met their father. No word on whether Sally's 
Blond-haired, blue-eyed with an effervescent personality, Meg Ryan  Jump to: Overview (3) | Mini Bio (1) | Spouse (1) | Trade Mark (2) | Trivia (34)  In 1981, she had her big screen debut with a brief appearance as Candice Bergen's  They 
Top 10 list of Meg Ryan movies topped by When Harry Met Sally and  Her halo may have slipped a bit, but she's still got a following of fans after 25 years in  New husband Alec Baldwin shoos the man away, but not before Ryan and the;
Apr 23, 2014  Pilot News: Meg Ryan to Narrate HIMYM Spin-Off How I Met Your Dad  series (which it is likely to do), Ryan would fill the same role Bob Saget did in HIMYM:  asks her kids if she can get back together with her first husband .
Apr 24, 2014  It will be Ryan's first regular prime-time television role ever, but she won't  a ;female Peter Pan; telling the story of how she met her husband .
Sep 30, 2008   Meg Ryan : The actress, pictured this month, claims her ex- husband  some agreement, long ago and far away, to meet in the way we did .'.
CBS has cast Meg Ryan as the narrator of 'How I Met Your Dad,' the upcoming  she will certainly become an integral ingredient of the series' comedic flavor.  She has just figured out that she has nothing in common with her husband of less;
Apr 23, 2014   Meg Ryan has been selected to provide the voice of 'How I Met Your Dad''s future  confirming that, like Saget, Ryan's voice will only be heard as Sally tells her future children life stories about how she met their father.  a
Apr 23, 2014   Meg Ryan is coming back to television-or at least her voice is.  Sally in the 'How I; Actress Greta Gerwig will play Sally in 'How I Met Your Dad. .. kidnapping her estranged husband and threatening his life with a gun as she 
Apr 23, 2014  Now, she has to find a way to keep her neurotic boss, her teenage kids, her soon-to-be ex- husband and her overbearing mother-in-law happy,;
A brief synopsis and the ending will be revealed for the movie - THE  We meet Mary Haines ( Meg Ryan ), who is working in her yard and talking on  Sylvie goes after Edie and tells her about what she heard about Mary;s husband from Saks.
Biography.com presents romantic comedy actress Meg Ryan , who starred in  Meg Ryan became America;s sweetheart with starring roles in When Harry Met  Ryan later married Quaid in 1991.  At first she named her daughter Charlotte, but soon changed it to Daisy to  Does Stephen Colbert Look Like Gustav Mahler?
Meg Ryan Biography Although she has also proven herself as a dramatic actress, Meg  a star with her titular role in the smash 1989 comedy When Harry Met Sally,  on her and her husband , played by Antonio Bandaras, Ryan was given her first . Stephen Holden, film critic for The New York Times, did not think the film;
Sister Mother Husband Dog (2013)  And I;ve always wondered if Danny had cast her and she had played my girlfriend, would Rob [Reiner]  KALING: Oh yes, we did an episode [of The Mindy Project] called “Harry ; Sally,” and everyone;
Apr 23, 2014   Meg Ryan will voice an older version of Greta Gerwig;s character in the highly  as a ;a female Peter Pan; who wants to leave her husband of one year.  Sally; (Gerwig), telling her kids the story of how she met their father.
Apr 24, 2014  The veteran actress was cast as the future mother and will lend her voice for the  of the spinoff as she tells her kids the story how she ;d met their dad.  obsessed with Fiona;s Husband Kip Wallice played by Victor Garber in;
Apr 24, 2014   Meg Ryan Will Narrate ;How I Met Your Mother; Spin-Off  She;s thinking of calling it quits with her husband of a year, Gavin, who will be;
Apr 27, 2014   She has just figured out that she has nothing in common with her husband of less than a year. Ryan will provide the voice for Sally in the future,;
Apr 23, 2014  1990s queen of romantic comedy to narrate CBS; ;How I Met Your Dad;  out that she has nothing in common with her husband of less than a year.  Ryan will provide the voice for Sally in the future as she relates the tale to;
Apr 23, 2014  1990s queen of romantic comedy to narrate CBS; ;How I Met Your Dad;  out that she has nothing in common with her husband of less than a year.  Ryan will provide the voice for Sally in the future as she relates the tale to;
Apr 28, 2014  Similar premise to the first series, we will follow Sally as she navigates life and dating, one day leading to the man of her dreams. “How I Met Your Mother” recently ended a long standing run on CBS. The show starred  This will be Meg  Ryan;s first major television role in prime-time. You May Also Be;
Apr 24, 2014   Meg Ryan will be the new Bob Saget in the How I Met Your Mother Spinoff.  where Sally is narrating to her children the story of how she met their dad.  Todd: Danny;s warm, outgoing husband and one of Sally;s closest;
High-powered attorney Louise ( Meg Ryan ) arrives at her country nest for a little R and  When Harry Met Sally, but in this strangely conceived 2009 comedy, she still has  Louise ( Meg Ryan ), a high-powered Manhattan attorney, and her  husband of  Will we find out that something quite unexpected has been going on?
Apr 23, 2014   Meg Ryan has signed on to narrate the story of How I Met Your Dad, in an  Meg, sort of) will play Sally, who has been described as an unhappily married  She has been unemployed for seven months but last month her ;
Jan 2, 2011  Matt Bomer out with his husband [Socialite Life] - The Red Tent .. How old was Elaine when they met ?? They;ve  I don;t care for Meg Ryan , or her plastic surgery, but I do think she got a bum rap for that Russell Crowe thing.
Meg Ryan was the darling of the movie industry in the 1990;s. Her movies grossed over $1 billion from 1993 to 1998. Today, she is in bit parts and low budget films and it looks possible that she will not be a big  Crowe while she was still married to Dennis Quaid led people to see her in a new light  When Harry Met Sally.
Like it or not, Ryan is unlikely to ever escape her most memorable cinematic moment - the simulated orgasm scene in ;When Harry Met Sally;.  in ;Sleepless in Seattle; and she followed this with ;Flesh and Bone; alongside her husband .  it failed to go down well with critics and Ryan will be making another attempt to wow;
Apr 24, 2014  Actress Meg Ryan is set to join the cast of “How I Met Your Dad,” the highly  The show will follow Ryan;s character as she tries to balance her  with her teenaged kids, her soon-to-be ex- husband and his overbearing mother.
Meg Ryan Characters  Which character did she play in ;When Harry Met Sally;? Meg . Meg plays a woman named Alice who is in Columbia with her husband ;
After having met his daughter;s future mother-in-law, the outspoken Roberta  Lindsay (Mary Elizabeth Mastrantonio) relays a message to her husband  Meg (Mary Kay Place) gives a run-down of (only) some of the problems she;s had with men. .. will say ;I do; to her fiance, Allie (Rachel McAdams) confronts Noah ( Ryan ;
Apr 24, 2014   Meg Ryan is set to join the cast of How I Met Your Dad, CBS; buzzed-about How  However, there;s a twist: Ryan will not actually be appearing  who returns to her New York publishing house, where she was once a brilliant editor.  boss, her teenage kids, her soon-to-be ex- husband and her overbearing;
Apr 24, 2014   Meg Ryan will play the narrator for ;How I Met Your Dad.  for “How I Met Your Dad” follows Sally on the journey of how she met her husband .
Duration: 12 years, married nine-and-a-half of those years Ages: 46 and 39  to ;Top Gun; co-star Anthony Edwards (;ER;) for two years before she met Quaid.  to marry Quaid until he overcame his drug and alcohol addiction, which he did .  The June 28 separation announcement was a shocker, but Ryan denies her ;
Apr 24, 2014  It will be Ryan;s first regular prime-time television role ever, but she won;t  a ;female Peter Pan; telling the story of how she met her husband .
Meg Ryan to Narrate How I Met Your Dad. She ;ll have  (Newser) - For the first time in three decades, Meg Ryan will have her own TV show. She;s the  ;A wife duct-tapes her husband to a chair and tells him that she will make him fall in love.
Meg Ryan news ; gossip stories, articles, updates and gossip with XML RSS feeds.  ;Future; Sally will recall to her kids the story of how she met their father. . to re-join the workforce after separating from her husband and tries to juggle all;
Apr 23, 2014  Sally will also have the obligatory best friend, and her boss will double as  One difference is that Sally, in the pilot of How I Met Your Dad, is married ,  long, though she may be appearing on TV in person in a new pilot she;s ;
Apr 24, 2014  It has been confirmed that Meg Ryan will be the narrator on the new sitcom.  She is most notable for her performances as Sally in When Harry Met  Dad will follow Sally (Greta Gerwig) and her quest for her future husband ;
Apr 23, 2014   Meg Ryan has been cast as the narrator for the ;How I Met Your Mother; spinoff,  Sally, on the journey of how she found her husband in New York City after her  While the actress did have recurring role on Showtime;s ;Web;