Blake's criminal trial for murder began on December 20, 2004,  One trial analyst also agreed with the jury's verdict .
Nov 19, 2005  Actor Robert Blake has been found liable in the wrongful death of his wife,  Unlike Blake's criminal trial , where the jury had to decide guilt;
Jurors in the Robert Blake murder trial requested a read-back of testimony from two  third full day of deliberations and ended the day without reaching a verdict .
Mar 16, 2005   Robert Blake speaks to the media Wednesday after the verdict .  years of a real-life crime story ended Wednesday for actor Robert Blake , the star of  Blake attorney Gerald Schwartzbach said his client handled the trial with;
Jul 2, 2011  Actor Robert Blake's verdict being read to the Court, followed by him thanking Ted Brooks. Defense Attorney M. Gerald Schwartzbach mentions;
Apr 24, 2013   ROBERT BLAKE may have been acquitted of murdering his late wife Bonny  2005 criminal trial , her children followed up with a civil lawsuit – and won.  In 2008, an appeals court upheld the verdict but cut the award in half.
Nov 18, 2005  Eight months after Robert Blake was acquitted at a criminal trial of  Blake, dressed in a black suit and tie, looked down as the verdicts were;
Mar 16, 2005  TV's 'Baretta' goes free from murder and solicitation charges.  Robert Blake wipes his eyes after hearing he was acquitted on two counts in his  delivered the verdicts on its ninth day of deliberations, following a trial with
Mar 16, 2005   Robert Blake walked out of court a free man Wednesday after a jury  Speaking to reporters after the verdict , the panelists cited a lack of direct  Unlike in his criminal trial , the civil jury was not required to be unanimous.
 trial jury. Eye on the Sparrow (3/16/05) – Robert Blake's Acquittal Verdict Watch (3/15/05) – Behind the scenes while the jury deliberated (NEW)  The Court Jester (2/17/05) – Criminal trial testimony of Eric Dubin, plaintiff's civil attorney
Nov 19, 2005  A civil jury decided that Robert Blake was behind the killing of his wife and  Friday in Burbank, Calif., before the verdict in the civil case was read. Mr. Blake was acquitted of murder charges in a criminal trial last March.
As the anchors awaited the verdict , co-anchor Ron Kuby bluntly remarked  ;Did Robert Blake intentionally cause the death of Bonny Bakley?  Casarez pointed out that Blake had incurred tremendous expense fighting the criminal case and;
Feb 28, 2007  The attorney for actor Robert Blake appealed a $30 million wrongful  The actor was acquitted of his wife;s shooting death at his criminal trial in;
Robert Blake Not Guilty in Murder Trial The American Weasel (satire)  MI - The verdict has been handed down in Actor Robert Blakes; murder case - not guilty.
Jul 5, 2011  I will begin by stating that I have worked on a number of high profile criminal and civil trials in my career, including the Robert Blake murder ;
Robert Blake , Bonny Lee Bakely, Baretta, Vitello;s, Earle Caldwell, vance,  Before Robert Blake;s criminal trial , he brainstormed with his publicist about other 1970s . grade-B murder plot, their ;Not Guilty; verdict didn;t bring an end to Blake;s;
YOU ARE HERE: LAT Home→Collections→ Robert Blake  Actor Robert Blake , who last year stood trial on both criminal and civil charges in . David M. Schacter on Monday denied the actor;s motion to throw out the $30-million jury verdict .
Oct 2, 2009  It is a case that showed the sorted side of celebrity and left a mystery in it;s wake.  Hours after after the murder of Robert Blake;s wife Bonnie Lee Bakley, .. After the verdict the triumphant Blake and his Attorney;s hold an impromptu  This trial was in many ways more interesting than the criminal trial .
Aug 4, 2005  The murder weapon, found in a trash bin, could not be traced to Blake , and  Nicholson told reporters after the verdict , adding that the evidence could ;never  The four-month trial was part of a wave of celebrity court cases in;
Blake;s criminal trial for murder began on December 20, 2004 with  Trial analysts also agreed with the jury;s verdict .
May 10, 2013  Even though the month-long trial featured 400 pieces of evidence and 90 witnesses, jurors returned their verdict in just one day of deliberation. (Source)  With a media circus similar to O.J. Simpson (see #9) the case seemed;
Casey Anthony;s Future Uncertain After Verdict  The murder trial of actor Robert  Blake is finally underway three and a half years after his wife was found shot to;
I am the attorney who represented Robert Blake in the criminal trial that  contains an unfair statement: ;The verdict by the Burbank jury [in the civil trial that;
Neither Jon nor Robert would receive counseling before trial because it might affect . In his book ;As If,; Blake Morrison describes the sight of Jon and Robert on the . ;This sentence that I pass upon you both is that you should be detained;
On May 4, 2001, actor Robert Blake;s wife Bonnie Lee Bakley was shot and killed  In April 2008, an appeals court upheld the civil case verdict but cut Blake;s . However, in a civil trial in 1997, he was deemed to be liable for the two deaths.
Blake;s criminal trial for murder began on December 20, 2004 with  Trial analysts also agreed with the jury;s verdict .
such as the Robert Blake and Michael Jackson trials , rely not on the  the Robert  Blake murder trial , the jury voted to acquit him.  decision to acquit Mr. Blake.
Apr 26, 2008   Verdict in civil case against Robert Blake is upheld  misconduct in actor Robert  Blake;s civil trial , upheld a jury;s verdict finding him liable  a person can be found ;not guilty; of a crime , but still be financially responsible for it.
May 1, 2009  Schwartzbach inherited a complex case in the murder trial of Robert  a book shows the three detectives assigned to the Blake murder case .  Plaintiff Scott Shropshire prevailed, with the jury awarding a $27.5 million verdict .
Nov 4, 2011  In 1995, O.J. Simpson was acquitted of two counts of murder in the deaths of his wife, Nicole Brown  Jurors from the second Phil Spector trial deliberated for 30 hours and convicted him of  Verdict reached in Murray trial .
After announcing that he would appeal the civil decision shortly after the verdict was handed down, Gerald Schwartzbach, Blake;s attorney in the criminal trial ,;
Officer In Blake Murder Case Investigated  LATEST: Actor ROBERT BLAKE is to appeal the wrongful-death verdict by a civil jury who awarded the family of his.  ROBERT BLAKE;s lawyers yesterday (27MAR06) asked for a new trial , alleging;
Making cases compelling for the decision -maker faced at each stage of litigation.  O.J. SIMPSON criminal trial (murder) ; civil trial (wrongful death);
Mar 17, 2005   Robert Blake was yesterday acquitted of the murder of his wife, Bonny Lee  On hearing the verdict , Blake sobbed openly at the defence table.  Mesereau is currently spearheading the defence in the trial of Michael Jackson.
Robert Blake is an Emmy-winning actor known for his film roles and as the star of the  He;s also known for the murder trial of his second wife, Bonnie Lee Bakley. . justice system more often does right by us, but there are times when verdicts ;
Another classic example was the 1981 trial of Delores Churchill, a battered wife  case of Glen “Buddy” Nickerson, who was serving a life sentence for murder ;
Jan 26, 2010  shortcomings of the prosecution in the Robert Blake case). 8. See Gary  defense attorney said after trial that “the verdict was most probably just.”11 . justice.15 Criminal trial outcomes and the attorneys working on each.
decisions in high-profile murder cases such as Robert Blake and Casey Anthony . have an impact on the decision to either acquit or convict in the trial scenario;
Jury nullification occurs in a trial when a jury reaches a verdict contrary to the evidence in the case.  Who can ever forget the O. J. Simpson murder case ?
On November 17, 2005 at 3:24PM, the jury announced their verdict , that Smith was guilty as  Robert Blake Civil Trial - It;s an expensive rerun for Robert Blake .