Construction of the present basilica , replacing the Old St . Peter's Basilica of the . of the current basilica , over the old Constantinian basilica , began on 18 April 1506.  St . Peter's Basilic 
Originally founded by Constantine in 324, St . Peter's Basilica was rebuilt in the  Construction on the current building began under Pope Julius II in 1506 and;
St . Peter is considered the first pope , so it made perfect sense for the papacy to build the principal  Construction of the basilica started between 319 and 322.
The original church of St Peter was dedicated by Pope Sylvester I in A.D. 326,  Construction began in 1506 and was pushed ahead with all speed, but the;
Building Big Databank entry on St . Peter's Basilica .  Following the examples set by emperors and sultans, Pope Julius II decided to crown the old church with a;
Pope Julius II commissioned Bramante to build a new basilica . This involved demolishing the Old St Peter's Basilica that had been erected by Constantine in the;
During the 15th century a new building was urgently needed, and Nicholas V, perhaps with the Holy Year of 1450 in mind, initiated plans to rebuild the church .  The new church would better house the tomb of St . Peter's and the massive and  Du
Jan 19, 2011   St . Peters Basilica - HD footage, information and facts on one of  faith and it is regarded as the most beautiful buildings ever made.  Pope Francis - Prayer at St. Peter's tomb by Salt and Light 29,217 views; Thumbnail 10:16
Information, guides and full HD video footage of St . Peter;s Basilica , Rome.  The work on the new grand basilica didn;t start until after Pope Nicolas death, when  Many rate St . Peter;s Basilica and as the most beautiful building ever made.
 St . Peter;s Basilica . When Pope Martin V (1417-1431) returned the papacy to Rome after it had resided for  Peter;s Basilica in Rome was in desperate need of repair. Pope  buildings : the Pantheon (118-125 C.E.) and the Basilica of Maxentius and Constantine. (310-320  basilica took over 150 years from start to finish.
The present Church of St . Peter stands upon the site where at the beginning of the  arose of building a palace near the basilica in which the pope could live and receive  original plan, that something aesthetically satisfactory was created .
In 1506, Pope Julius II laid the cornerstone for New St . Peter;s Basilica in Rome.  condemned the original basilica of St. Peter and began building the new one.
A place travelers can visit St Peter;s Basilica . Overview ; Reviews  Florence;s cathedral . Pope Paul V, in turn, wanted to build the longest nave in Christendom.
Saint Peter;s Basilica is built upon what some historians believe to be Saint Peter;s ancient remains.  Video Clip (1:53); History Rewind: Cardinal Pacelli Elected Pope 1939. History Rewind: Cardinal  Ancient Battles and Buildings Collection.
K.B. Jain The Making of St . Peter;s Basilica ( Basilica Papale di San Pietro in  History The popes from Nicholas V (1447 – 1455) to Innocent the IX (1676 – 1689)  like this until the emperor Constantine started with the construction of basilica .
Construction on the current basilica began on April 18, 1506 and was  basilica is not the Pope;s official ecclesiastical seat ( Saint John Lateran), it is most;
The interior of St . Peter;s Basilica by Giovanni Paolo Pannini  For this reason, many Popes have been interred at St Peter;s since the Early  Construction of the present basilica , over the old Constantinian basilica , began on April 18, 1506 and was  As a work of architecture, it is regarded as the greatest building of its age.
Present basilica of St . Peter in Vatican City (an enclave in Rome), begun by Pope  The idea of building the church was conceived by Pope Nicholas V (reigned  In 1452 Nicholas ordered Bernardo Rossellino to begin the construction of a;
shows the Church;s fallibility when Pope Leo X exchanged Indulgences for donations  These donations would build Saint Peter;s basilica and empty purgatory.
The St . Peter;s basilica was dedicated by pope Urban VIII in 1626.  The building itself is truly impressive.  The obelisk was created by the Egyptians during the time of her greatest splendor, with one of the greatest obelisks being created as;
Here are highlights of projects undertaken at St . Peter;s Basilica by the Knights of  After Pope John Paul II named Sts. Benedict, Cyril and Methodius as . the City of Rome began construction on a square to honor the Knights of Columbus.
Feb 13, 2013  Lightning Strikes St . Peter;s Basilica the Day Pope Benedict XVI Resigns  Monteforte had his camera trained on the building in Vatican City when the  When the storm started , I thought that lightning might strike the rod, so I;
Francis, solemn-faced, then rose and started hearing confessions himself.  Building on ;don;t; steal,; Francis suggested, ;share what you have with others,; especially the needy,  Pope celebrates final public Mass inside St . Peter;s  Basilica .
In 1506 Pope Julius II laid the first stone of the new basilica and started  construction that was to last for one hundred and twenty years. The greatest artists of the;
The interior of St . Peter;s Basilica is a vast space  The octagonal Sacristy is in a building attached to the basilica . . Bernini, who was the Chigi Pope;s favorite, created the monument with the assistance of several talented artists in his studio.
The construction of the new St . Peter;s Basilica began on that same year with the  The last time it was opened was when Pope John Paul II died in 2005. St;
Replaced an earlier St . Peter;s Basilica built by Constantine in 323 A.D. which was  over the tomb of St. Peter; The 1506 building was designed for Pope Julius II by  When he created a stage set, the illusion was so convincing, people in the;
St . Peter;s Basilica is also an extraordinary museum and it is impossible to  It is thanks to Peter, the first Apostle and the first pope and leader of the Church that  place soon began , so much so that while the grandiose Roman buildings fell to;
St . Peter;s Basilica is also an extraordinary museum and it is impossible to  It is thanks to Peter, the first Apostle and the first pope and leader of the Church that  place soon began , so much so that while the grandiose Roman buildings fell to;
Saint Peter was the first Bishop of Rome, or the first pope of the Roman Catholic  Construction of the building began in 1506 and did not end until 1626.  St . Peter;s Basilica , as it stands today, is known as ;the greatest building of its age;.
The second was to build the pope a place to live -- until then, pontiffs had resided at the  Serious work on St . Peter;s Basilica began under Pope Julius II, who;
Aug 28, 2009  The story of St . Peter;s Basilica , a miracle in stone that took more than a  In 1505 when the formidable Pope Julius II began planning a new basilica to St. Peter,  Architects and plans changed, building costs escalated.
Apr 9, 2008  The Basilica of Saint Petrus, commonly called Saint Peter;s Basilica ,  Until recently the largest church building in Christianity, it covers an area of 5.7 . been completed at the start of the next century if, in 1606, Pope Paul V;
Construction of St . Peter;s Basilica almost led to the destruction of the religion it was  Building began in 1506 on the site of the 4th-century St. Peter;s erected by the  The pope at the time, Leo X, (1475-1521) wasn;t even an ordained priest.
Mar 19, 2014  The world;s largest church , built over the tomb of St . Peter , is the most  Bramante to raze all the existing buildings and to build a new basilica , one that  created a brooding Neoclassical monument to Pope Clement XIII.
It is the head seat of the Roman Catholic Church , ruled by the Pope .  The main buildings of the Vatican City are: the St . Peter;s Basilica on St. Peter;s square, the Sistine Chapel, the Vatican  The St . Peter;s basilica started to be built in 1506.
Commonly known as St . Peter;s Basilica , is located within the Vatican City in Rome.  the present basilica , over the old Constantinian basilica , began on April 18,  In 1505, Pope Julius II, made a decision to demolish the ancient building and;
The current form of St Peter;s Basilica began to form in the fifteenth century and was  to by various popes and architects over the sixteenth and seventeenth centuries. Whilst much of the building was designed by Bernini, the most celebrated;
24, 2013), Pope Francis venerated the relics of St. Peter and displayed them for  When Pope Julius began construction on the present St . Peter;s Basilica in;
The Constantine Building  Between 384 and 395 the Basilica , under the emperors Theodosius,  the biggest Basilica of Rome, until the consecration of the new Basilica of St . Peter in 1626.  The Benedictine Monks of the ancient Abbey, founded near the tomb of the Apostle by Pope Gregory II (715-731), attend to the;